
.navbar{

    background-color: navy !important;

}

.carousel-inner > .item > img {
    margin: 0 auto;

}

.navbar a{
    font-family: sans-serif, Verdana !important;
    font-weight: bold;
    color: white;
}

.carousel-caption{

    font-weight: bold;
    font-size: 400%;
    align-content: center;
    padding-bottom: 5%;
    margin: auto;
}

#c1{
    font-weight: bold;
    font-size: 150%;
    align-content: center;
    padding-bottom: 5%;
    margin: auto;


}

#c2{
    font-weight: bold;
    font-size: 150%;
    align-content: center;
    margin: auto;


}